spring:
  application:
    name: video-platform
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5430}/${DB_NAME:videoplatform}
    username: ${DB_USER:tamastyukodi}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

google:
  client-id: 253068752459-9fioj7h683qtkmrppeq9hsvus0o1kbp3.apps.googleusercontent.com

sendgrid:
  api:
    key: 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
  mail:
    from: "no-reply@serious-debauchery.click"

digitalocean:
  spaces:
    accessKey: ${SPACES_AK}
    secretKey: ${SPACES_SK}
    originEndpointUrl: https://fra1.digitaloceanspaces.com
    cdnEndpointUrl: https://video-platform.fra1.cdn.digitaloceanspaces.com
    originEndpoint: video-platform.fra1.digitaloceanspaces.com
    region: fra1
    bucket-media: video-platform

server:
  forward-headers-strategy: native

app:
  refresh-expiry-days: 7
  domain: "serious-debauchery.click"
  frontend:
    url: "https://app.serious-debauchery.click"
  calendar:
    stateSecret: ${CALENDAR_SS}
    cryptoSecret: ${CALENDAR_CS} # 32-byte key, base64-encoded
    google:
      clientId: ${CALENDAR_GOOGLE_CLIENT_ID}
      clientSecret: ${CALENDAR_GOOGLE_CLIENT_SECRET}
      redirectUri: "https://serious-debauchery.click/api/calendars/oauth/google/callback"

jwt:
  secret: "12345678901234567890123456789012"
  expiration: 900000
